.tippy-box[data-theme~=light] {
  color: #26323d;
  box-shadow: 0 0 1px 1px #DCDCDC;
  background-color: #fff
}

.tippy-box[data-theme~=light][data-placement^=top] > .tippy-arrow:before {
  border-top-color: #fff
}

.tippy-box[data-theme~=light][data-placement^=bottom] > .tippy-arrow:before {
  border-bottom-color: #fff
}

.tippy-box[data-theme~=light][data-placement^=left] > .tippy-arrow:before {
  border-left-color: #fff
}

.tippy-box[data-theme~=light][data-placement^=right] > .tippy-arrow:before {
  border-right-color: #fff
}

.tippy-box[data-theme~=light] > .tippy-backdrop {
  background-color: #fff
}

.tippy-box[data-theme~=light] > .tippy-svg-arrow {
  fill: #fff
}
